@CHARSET "ISO-8859-1";


*{
margin: 0px;
}
#navegacion{
	margin: opx;
	width:100%;
	height:50px;
	background-color: #1a1a1a;
}
.body{
	background-color: #f0fcad;
}
#divprincipal{
	margin:0px;
	width: 100%;
	height: 400px;
	
}
#imgsanpablo{
	width: 100%;
	height: 400px;
}
///////////////////////////////////////////////////////
#div1{
	margin:0px;
	border:2px;
	border-color:#000000;
	width:1400px;
	height:400px;
	background-color: #80ffff;
}
#isquierda1{
	margin:5px;
	width: 400px;
	height: 400px;
	background-color: #ff8080;
	float: left;
}
#centro1{
	margin:5px;
	width: 400px;
	height: 400px;
	background-color: #ffff80;
	float: left;
}
#derecha1{
	margin:5px;
	width: 400px;
	height: 400px;
	background-color: #80ff80;
	float: left;
}
///////////////////////////////////////////////////////////////
#div2{
	border:2px;
	border-color: #000000;
	margin:0px;
	width:1400px;
	height:400px;
	background-color: #80ffff;
}
#isquierda2{
	margin:5px;
	width: 400px;
	height: 400px;
	background-color: #ff8080;
	float: left;
}
#centro2{
	margin:5px;
	width: 400px;
	height: 400px;
	background-color: #ffff80;
	float: left;
}
#derecha2{
	margin:5px;
	width: 400px;
	height: 400px;
	background-color: #80ff80;
	float: left;
}
