@CHARSET "ISO-8859-1";


*{
margin: 0px;
}
#navegacion{
	margin: opx;
	width:100%;
	height:30px;
	background-color: #1a1a1a;
}
#div1{
	margin:0px;
	width:1200px;
	height:400px;
	background-color: #80ffff;
}
#isquierda1{
	width: 400px;
	height: 400px;
	background-color: #ff8080;
	float: left;
}
#centro1{
	width: 400px;
	height: 400px;
	background-color: #ffff80;
	float: left;
}
#derecha1{
	width: 400px;
	height: 400px;
	background-color: #80ff80;
}